- today = Date.today
- current_show = nil
- @shows.each_with_index do |show, i|
  - if current_show.nil? && today <= show['end']
    - current_show = i
- if current_show.nil? # if it's after the last show, this'll be nil
  - current_show = @shows.size - 1

%h1.first.center Our 2011 Season
#shows
  - @shows.each_with_index do |show, i|
    - if current_show == i
      - a_class = 'selected'
    - else
      - a_class = 'unselected'
    %a{:href => "#", 'data-show' => "#{i+1}", :class => a_class}<>
      = show['name']
      %br
      %strong= show['start'].strftime("%b %d").sub(/0([1-9])/, '\1')

#stage_shows
  #stage_bg
    %img#stage{:src => "/images/stage/stage_drapes.png"}
    #left
    #right
    %img#show{:src => "/images/show#{current_show + 1}.png"}

#show-descs
  - @shows.each_with_index do |show, i|
    - if current_show == i
      - style = 'display: block;'
    - else
      - style = 'display: none;'
    %div{:id => "show-desc-#{i+1}", :class => "show-desc", :style => style}
      %p
        %strong= show['name']
        written by
        = "#{show['written']},"
        directed by
        = show['directed']
      %p
        = show['description']
      %p
        = show['dates']
